@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #080808;
  scroll-behavior: smooth;
  cursor: pointer;
}

.max-width {
  width: min(120ch, 100% - 4rem);
  margin-inline: auto;
}


/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3f45;
  border-radius: 5px;
}
